<nav class="menu_box_1 fixed width_100p">
  <ul class="flex flex_jc_sa flex_ai_c">
    <li class="cursor_p height_100p flex_ai_c">Front-end
      <ul>
        <li><%= link_to 'HTML', bulletin_boards_path(1), class:'btn cursor_p height_100p' %></li>
        <li><%= link_to 'CSS', bulletin_boards_path(2), class:'btn cursor_p height_100p' %></li>
      </ul>
    </li>
    <li class="cursor_p height_100p flex_ai_c">Back-end</li>
    <li class="cursor_p height_100p flex_ai_c">Setting
    <ul>
      <li><%= link_to 'Boards Setting', bulletins_path, class:'btn cursor_p height_100p' %></li>
    </ul>
    </li>
  </ul>
</nav>