<li class="cursor_p flex_1_0_0 flex_jc_c height_100p flex_ai_c">Front-end
  <ul class="text_align_center">
    <li><%= link_to 'HTML', bulletin_boards_path(1), class:'cursor_p height_100p' %></li>
    <li><%= link_to 'CSS', bulletin_boards_path(2), class:'cursor_p height_100p' %></li>
    <li><%= link_to 'JavaScript', bulletin_boards_path(3), class:'cursor_p height_100p' %></li>
    <%# @bulletins.each do |bulletin| %>
    <!--          <li><%#= link_to bulletin.title %></li>-->
    <%# end %>
  </ul>
</li>