<li class="cursor_p flex_1_0_0 flex_jc_c height_100p flex_ai_c">W_R Setting
  <ul class="text_align_center">
    <li><%= link_to 'Boards Setting', bulletins_path, class:'cursor_p height_100p' %></li>
  </ul>
</li>