<nav class="menu_box_1 fixed width_100p">
  <ul class="flex flex_jc_sa flex_ai_c">
    <li class="cursor_p flex_1_0_0 flex_jc_c height_100p flex_ai_c">Front-end
      <ul class="text_align_center">
        <li><%= link_to 'HTML', bulletin_boards_path(1), class:'cursor_p height_100p' %></li>
        <li><%= link_to 'CSS', bulletin_boards_path(2), class:'cursor_p height_100p' %></li>
      </ul>
    </li>
    <li class="cursor_p flex_1_0_0 flex_jc_c height_100p flex_ai_c">Back-end</li>
    <li class="cursor_p flex_1_0_0 flex_jc_c height_100p flex_ai_c">Development environment</li>
    <li class="cursor_p flex_1_0_0 flex_jc_c height_100p flex_ai_c">W_R Setting
      <ul class="text_align_center">
        <li><%= link_to 'Boards Setting', bulletins_path, class:'cursor_p height_100p' %></li>
      </ul>
    </li>
  </ul>
</nav>